{% extends "base.html" %}


{% block content %}
<!--pagina con le info del profilo del medico
richiamata sempre quando il doc ha fatto il login-->


<!--barra in alto con profilo del medico-->
<div>   
    <ul class="nav justify-content-center p-3 shadow-sm bg-body rounded">
        <li class="nav-item  p-2">
          <p>Nome doc<br>
            Cognome doc</p>
        </li>
        <li class="nav-item p-2">
          <p>numero pazienti: <br> tot</p>
        </li>
        <li class="nav-item p-2">
          <p>id: <br> 3445</p>
        </li>
        <li class="nav-item p-2">
          <p>tel: <br> 123 334224543</p>
        </li>
      </ul>

</div>

{% block index %}
{% endblock index %}

{% endblock content %}
