{% extends "base.html" %}

{% block content %}

<div class="container-fluid" style="background-color:#4348bd">

    <img src="../static/img/logo.svg" alt="logo" style="display: block;
    margin-left: auto;
    margin-right: auto; width: 60%;">
    <div class="d-flex justify-content-center">
        <p class="text-center m-5"><a class="btn btn-primary rounded-pill" role="button" style="width:150px"
                href="{{url_for('login')}}">login</a></p>
        <p class="text-center m-5"><a class="btn btn-primary rounded-pill" role="button" style="width:150px"
                href="{{url_for('registration')}}">registration</a></p>
    </div>
</div>


{% endblock %}