{% extends "base.html" %}

{% block content %}
    <h1>Registration</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.phoneNumber.label }}<br>
            {{ form.phoneNumber(size=32) }}<br>
            {% for error in form.phoneNumber.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

        <p>alreadu a User?</p>
        <a href="{{url_for('login')}}">log in</a>
    </form>
{% endblock %}
